.secondary {
	font-size: 12px;
}

.margin10 {
	margin: 10px;
}

.padding10 {
	padding: 10px;
}

.margin10_5 {
	margin: 10px 5px;
}

.margin5_10 {
	margin: 5px 10px;
}

.margin5 {
	margin: 5px;
}

.marginTop20 {
	margin-top: 20px;
}

.marginBottom20 {
	margin-bottom: 20px;
}


.centered {
	text-align: center;
}

.ui-layout-unit .ui-layout-unit-content {
	padding: 0px;
}

.ui-layout-north {
	vertical-align: middle;
	border: none;
	padding: 0px;
	webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	border-top: solid 6px #71CC8D;
	background-color: #F6FAFC /*#F1F6F9*/;
	display: table;
}

.ui-layout-north>.ui-widget-content {
	border-top: solid 6px #71CC8D;
}

.ui-layout-north .ui-layout-unit-content, .ui-layout-south .ui-layout-unit-content
	{
	overflow: hidden;
	background: #eef9f1;
}

.ui-layout-unit.ui-widget.ui-widget-content.ui-layout-pane-center {
	background-color: #FDFDFD !important;
}

.ui-layout-resizer-north {
	height: 0px !important;
}

.footer {
	overflow: hidden !important;
}

.header img {
	display: inline;
	height: 70px;
	padding-left: 30px;
}

.header h1 {
	display: inline;
	vertical-align: top;
	padding: 10px;
	margin-top: 20px;
}

.header .ui-menubar {
	float: right;
	margin-top: 23px;
	margin-right: 20px;
}

.ui-separator {
	border: 0px;
	border-bottom: solid 1px #EAEAEA !important;
}

.Fs24 {
	font-size: 24px !important;
}

.red {
	color: #e90c45;
}

.blue {
	color: #27AAE1;
}

.grey {
	color: #909090;
}

.floatRight {
	float: right;
}

.well {
	margin-bottom: 0px;
}

.ui-wizard .ui-wizard-step-titles {
	margin-bottom: 20px;
}

.ui-wizard-content .ui-panel .ui-panel-content {
	padding: 1em;
}

/* sb2 edits */
.navbar-default {
	background-color: #f8f8f8 !important;
	border-color: #e7e7e7 !important;
}

.navbar-default .navbar-brand {
	color: #777 !important;
}

.navbar.navbar-inverse.navbar-fixed-top, .side-nav {
	background-color: #1D9F75;
	border-color: #1a916a;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	color: #FFF;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover
	{
	color: #fefefe;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover,
	.top-nav>.open>a:focus, .side-nav li a:hover, .side-nav li a:focus,
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover, .side-nav li a:hover,
	.side-nav li a:focus {
	color: #fff;
	background-color: /*#0d4936*/#188260 !important;
}

.top-nav>li>a, .side-nav>li>ul>li>a {
	color: #FFF;
}

.loginForm .well {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}



.ui-widget-content.ui-state-hover,
.ui-widget-content .ui-state-highlight {
		background: #188260;
	color: #FFFFFF;
}

.ui-button.buttonRed,
.ui-button.buttonRed.ui-icon {
		background: #D13F3F;
	color: #FFFFFF;	
	border: none;
}
.buttonRed .ui-button-text {
	text-shadow: none;
}

.page-header .ui-clock {
	border: none !important;
	background: none;
	padding: none !important;
	color: #777 !important;
}

.ui-messages-error, .ui-message-error {
	background: @brand-danger;
}

.panel-custom1 {
    border-color: #4C3973;
}

.panel-custom1 .panel-heading {
    border-color: #4C3973;
    color: #fff;
    background-color: #4C3973;
}

.panel-custom1 a {
    color: #4C3973;
}

.panel-custom1 a:hover {
    color: #171224;
}

.panel-custom2 {
    border-color: #A63F82;
}

.panel-custom2 .panel-heading {
    border-color: #A63F82;
    color: #fff;
    background-color: #A63F82;
}

.panel-custom2 a {
    color: #A63F82;
}

.panel-custom2 a:hover {
    color: #171224;
}

.form-controlpe input,
.form-group .date input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.RadioButton label {
	font-weight: 300;
	margin: 0 5px;
}

.attendanceTable td.ui-cell-editing {
	padding: 4px 10px !important;
	background-color: transparent !important;
}

.centered {
	text-align: center;
}